In [43]:
import time
import requests 
import os
import pandas as pd
from pandas import DataFrame, Series

In [5]:
time.time()

1574471559.7686248

In [7]:
t1 = time.time()
print(1234)
t2 = time.time()
t2 - t1

1234

0.00025582313537597656

In [14]:
t1 = time.time()

total = 0
limit = 10000 # try changing this
for i in range(limit):
    total += i

t2 = time.time()

print("TOTAL:", total)
milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

TOTAL: 49995000
ms: 1.7910003662109375

In [33]:
t1 = time.time()

r = requests.get("https://tyler.caraza-harter.com/hello.txt")
r.raise_for_status()
data = r.text

t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 221.55284881591797

In [34]:
t1 = time.time()
f = open("hello.txt", "w", encoding="utf-8")
f.write(data)
f.close()
f = open("hello.txt", encoding="utf-8")
data = f.read()
f.close()
t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 1.7218589782714844

In [41]:
def download(filename, url):
    # We do not download again if the file already exists
    if os.path.exists(filename):
        return (str(filename) + " already exists!")

    # TODO: Write the code to download the file from URL
    r = requests.get("https://tyler.caraza-harter.com/hello.txt")
    r.raise_for_status()
    data = r.text
    f = open(filename, "w", encoding="utf-8")
    f.write(data)
    f.close()
#     f = open("hello.txt", encoding="utf-8")
#     data = f.read()
#     f.close()

    return (str(filename) + " created!")

In [42]:
download("hello.html", "https://tyler.caraza-harter.com/hello.html")

'hello.html created!'

Hello!  Welcome to my website.

In [45]:
DataFrame([[1,2], [3,4]])

   0  1
0  1  2
1  3  4

In [46]:
# option 2
DataFrame([{"x":1, "y":2},
           {"x":3, "y":4}])

   x  y
0  1  2
1  3  4

In [47]:
# option 3
DataFrame({"x":[1,3],
           "y":[2,4]})

   x  y
0  1  2
1  3  4