In [1]:
import os
import json
import requests
import pandas as pd
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
from collections import defaultdict
from math import radians, sin, cos, asin, sqrt

import sqlite3
import matplotlib
from matplotlib import pyplot as plt
import numpy as np

In [2]:
def download(filename, url):
    # We do not download again if the file already exists
    if os.path.exists(filename):
        return (str(filename) + " already exists!")

    # download page
    r = requests.get(url)
    r.raise_for_status()
    
    # save it to a file
    f = open(filename, "w", encoding = "utf-8")
    f.write(r.text)
    f.close()

    return (str(filename) + " created!")

In [3]:
download("countries.json", "https://raw.githubusercontent.com/tylerharter/caraza-harter-com/master/tyler/cs301/fall19/data/countries.json")

'countries.json already exists!'

In [4]:
f = open("countries.json")
data = json.load(f)
f.close()
countries = DataFrame(data)
countries.head()

,area,birth-rate,coastline,continent,country,death-rate,gdp-per-capita,infant-mortality,literacy,net-migration,phones,population,region
0,756950,15.23,0.85,South America,Chile,5.81,9900.0,8.80,"96,2",0.00,"213,0",16134219,LATIN AMER. & CARIB
1,665,17.80,24.21,Asia,Bahrain,4.14,16900.0,17.27,"89,1",1.05,"281,3",698585,NEAR EAST
2,22966,28.84,1.68,North America,Belize,5.72,4900.0,25.69,"94,1",0.00,"115,7",287730,LATIN AMER. & CARIB
3,582650,39.72,0.09,Africa,Kenya,14.02,1000.0,61.47,"85,1",-0.10,"8,1",34707817,SUB-SAHARAN AFRICA
4,11854,33.05,3.12,Australia,Marshall Islands,4.78,1600.0,29.45,"93,7",-6.04,"91,2",60422,OCEANIA

In [5]:
countries = pd.read_json('countries.json')
countries.head()

,area,birth-rate,coastline,continent,country,death-rate,gdp-per-capita,infant-mortality,literacy,net-migration,phones,population,region
0,756950,15.23,0.85,South America,Chile,5.81,9900,8.80,"96,2",0.00,"213,0",16134219,LATIN AMER. & CARIB
1,665,17.80,24.21,Asia,Bahrain,4.14,16900,17.27,"89,1",1.05,"281,3",698585,NEAR EAST
2,22966,28.84,1.68,North America,Belize,5.72,4900,25.69,"94,1",0.00,"115,7",287730,LATIN AMER. & CARIB
3,582650,39.72,0.09,Africa,Kenya,14.02,1000,61.47,"85,1",-0.10,"8,1",34707817,SUB-SAHARAN AFRICA
4,11854,33.05,3.12,Australia,Marshall Islands,4.78,1600,29.45,"93,7",-6.04,"91,2",60422,OCEANIA

In [6]:
#Q1: How many countries do we have in our dataset?
len(countries)

174

In [7]:
#Q2: what is the total area across all the countries in our dataset?
countries["area"].sum()

127170843

In [8]:
download('capitals.html', 'https://raw.githubusercontent.com/tylerharter/cs301-projects/master/fall19/p10/techslides-snapshot.html')

'capitals.html already exists!'

In [9]:
# Open the capitals.html file and convert it into a string
f = open("capitals.html", encoding = "utf-8")
json_str = f.read()
f.close()

# Call BeautifulSoup to parse the html string
doc = BeautifulSoup(json_str, "html.parser")

# Find the table containing the data
tables = doc.find_all("table")
tbl = tables[0]

# Find all the rows in the table
trs = tbl.find_all("tr")

# Create a dictionary containing country name, capital and location coordinate.
# Create a list of dictionaries for all the countries.
list_of_countries = []
for i in range(len(trs)):
    dict_of_countries = defaultdict(str)
    # to skip header
    if i == 0:
        continue
    for j in range(len(trs[i].find_all("td"))):
        if trs[0].find_all('td')[j].get_text() == 'Country Code':
            continue
        if trs[0].find_all('td')[j].get_text() == 'Continent Name':
            continue
        dict_of_countries[trs[0].find_all('td')[j].get_text()] = trs[i].find_all('td')[j].get_text()
    list_of_countries.append(dict(dict_of_countries))
    
# Careful! This web page has more countries than countries.json. We will ignore the countries that are not
# in that file. You need to filter and keep only the 174 countries whose names also appear in countries.json.

# find 174 countries in countries.json
f = open("countries.json")
data = json.load(f)
f.close()
countries174 = [country['country'] for country in data]

# filter out the countries that are not in the countries.json
filtered_countries = []
for country in list_of_countries:
    if country['Country Name'] in countries174:
        filtered_countries.append(country)
            
# Save this list into file titled capitals.json.
f = open('capitals.json', 'w', encoding = 'utf-8')
json.dump(filtered_countries, f)
f.close()

# Create a DataFrame named capitals from this file.
capitals = pd.read_json('capitals.json')
capitals.head()

  Country Name  Capital Name  Capital Latitude  Capital Longitude
0  Afghanistan         Kabul         34.516667          69.183333
1      Albania        Tirana         41.316667          19.816667
2      Algeria       Algiers         36.750000           3.050000
3     Anguilla    The Valley         18.216667         -63.050000
4    Argentina  Buenos Aires        -34.583333         -58.666667

In [10]:
#Q3: What are the country names in capitals.json?
list(capitals['Country Name'])

['Afghanistan',
 'Albania',
 'Algeria',
 'Anguilla',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Helena',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Saudi Arabia',
 'Senegal',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovenia',
 'Somalia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Tonga',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [11]:
def finder1_name(wanted_header, known_header, name):
    find = None
    for i in range(len(capitals)):
        if list(capitals[known_header])[i] == name:
            find = capitals.iloc[i][wanted_header]
    return find

In [12]:
#Q4: What is the capital of Cuba?
finder1_name("Capital Name", "Country Name", "Cuba")

'Havana'

In [13]:
#Q5: Which country's capital is Tbilisi?
finder1_name("Country Name", "Capital Name", "Tbilisi")

'Georgia'

In [14]:
def finder2_countries(sorted_by, length, reverse_order = True):
    assert type(length) == int and type(reverse_order) == bool
    if reverse_order == True: # smallest at the top
        return list(capitals.sort_values(by = [sorted_by])[:length]['Country Name'])
    else: # biggest at the top
        return list(capitals.sort_values(by = [sorted_by], ascending = reverse_order)[:length]['Country Name'])

In [15]:
#Q6: Which 7 countries have the southern-most capitals?
finder2_countries('Capital Latitude', 7)
Out[16]

KeyError: 16

In [ ]:
#Q7: Which 5 countries have the northern-most capitals?
finder2_countries('Capital Latitude', 5, False)

In [ ]:
def finder3(col1, col2):
    rate = DataFrame({col1: countries[col1], col2: countries[col2]})
    return rate.describe()

def str2float_converter(col):
    countries[col] = countries[col].str.replace(',', '.', regex = False)
    countries[col] = countries[col].astype('float64')
    return countries[col]

In [ ]:
#Q8: For birth-rate and death-rate, what are various summary statistics 
#   (e.g., mean, max, standard deviation, etc)?
finder3('birth-rate', 'death-rate')

In [ ]:
#Q9: For columns literacy and phones, what are various summary statistics?
countries['phones'] = str2float_converter('phones')
countries['literacy'] = str2float_converter('literacy')
finder3('literacy', 'phones')

In [ ]:
def finder4_have_most(continent, have_most):
    list1 = [] # list1 stores the countries filtered by the condition and the continent
    for i in range(len(countries['coastline'])):
        if countries['coastline'].iloc[i] == 0.0:
            if countries.loc[i, 'continent'] == continent:
                list1.append(countries.loc[i, 'country'])
    countries_index = countries.set_index("country")
    most_numbers = 0.0
    most_name = None
    for country in list1:
        if countries_index.loc[country, have_most] > most_numbers:
            most_numbers = countries_index.loc[country, have_most]
            most_name = country
    return most_name

In [ ]:
#Q10: What is the largest land-locked country in Europe?
finder4_have_most('Europe', 'area')

In [ ]:
#Q11: What is the largest land-locked country in Asia?
finder4_have_most('Asia', 'area')

In [ ]:
#Q12: What is the most populous land-locked country in Asia?
finder4_have_most('Asia', 'population')

In [ ]:
def finder5_distance(latitude1, longitude1, latitude2, longitude2):
    
    R = 3956 # The radius of the earth is 3956 miles
    lat1 = latitude1
    lon1 = longitude1
    lat2 = latitude2
    lon2 = longitude2

    # dlon = lon2 - lon1 and convert dlon to radian
    dlon = lon2 - lon1
    dlon = radians(dlon)
    # dlat = lat2 - lat1 and convert dlat to radian
    dlat = lat2 - lat1
    dlat = radians(dlat)

    #convert lat1 to radian
    lat1 = radians(lat1)
    # convert lat2 to radian
    lat2 = radians(lat2)
    # a = sin^2(dlat/2) + cos(lat1) * cos(lat2) * sin^2(dlon/2)
    a = (sin(dlat/2))**2 + cos(lat1) * cos(lat2) * (sin(dlon/2))**2
    # c = 2 * arcsin(min(1,sqrt(a)))
    c = 2 * asin(min(1, sqrt(a)))
    # d = R * c
    d = R * c
    return d

In [ ]:
#Q13: What is the distance between Camp Randall Stadium and the Wisconsin State Capital?
finder5_distance(43.070231, -89.411893, 43.074645, -89.384113)

In [ ]:
capital_with_index = capitals.set_index('Country Name')

In [ ]:
#Q14: What is the distance between France and Japan?
finder5_distance(capital_with_index.loc['France', 'Capital Latitude'],
                 capital_with_index.loc['France', 'Capital Longitude'],
                 capital_with_index.loc['Japan', 'Capital Latitude'],
                 capital_with_index.loc['Japan', 'Capital Longitude'])

In [ ]:
guam = Series({'Guam' : finder5_distance(capital_with_index.loc['Guam', 'Capital Latitude'],
                 capital_with_index.loc['Guam', 'Capital Longitude'],
                 capital_with_index.loc['Guam', 'Capital Latitude'],
                 capital_with_index.loc['Guam', 'Capital Longitude']),
              'New Zealand': finder5_distance(capital_with_index.loc['Guam', 'Capital Latitude'],
                 capital_with_index.loc['Guam', 'Capital Longitude'],
                 capital_with_index.loc['New Zealand', 'Capital Latitude'],
                 capital_with_index.loc['New Zealand', 'Capital Longitude']),
              'Australia' : finder5_distance(capital_with_index.loc['Guam', 'Capital Latitude'],
                 capital_with_index.loc['Guam', 'Capital Longitude'],
                 capital_with_index.loc['Australia', 'Capital Latitude'],
                 capital_with_index.loc['Australia', 'Capital Longitude'])})

new_zealand = Series({'Guam' : finder5_distance(capital_with_index.loc['Guam', 'Capital Latitude'],
                 capital_with_index.loc['Guam', 'Capital Longitude'],
                 capital_with_index.loc['New Zealand', 'Capital Latitude'],
                 capital_with_index.loc['New Zealand', 'Capital Longitude']),
              'New Zealand': finder5_distance(capital_with_index.loc['New Zealand', 'Capital Latitude'],
                 capital_with_index.loc['New Zealand', 'Capital Longitude'],
                 capital_with_index.loc['New Zealand', 'Capital Latitude'],
                 capital_with_index.loc['New Zealand', 'Capital Longitude']),
              'Australia' : finder5_distance(capital_with_index.loc['New Zealand', 'Capital Latitude'],
                 capital_with_index.loc['New Zealand', 'Capital Longitude'],
                 capital_with_index.loc['Australia', 'Capital Latitude'],
                 capital_with_index.loc['Australia', 'Capital Longitude'])})

australia = Series({'Guam' : finder5_distance(capital_with_index.loc['Guam', 'Capital Latitude'],
                 capital_with_index.loc['Guam', 'Capital Longitude'],
                 capital_with_index.loc['Australia', 'Capital Latitude'],
                 capital_with_index.loc['Australia', 'Capital Longitude']),
              'New Zealand': finder5_distance(capital_with_index.loc['Australia', 'Capital Latitude'],
                 capital_with_index.loc['Australia', 'Capital Longitude'],
                 capital_with_index.loc['New Zealand', 'Capital Latitude'],
                 capital_with_index.loc['New Zealand', 'Capital Longitude']),
              'Australia' : finder5_distance(capital_with_index.loc['Australia', 'Capital Latitude'],
                 capital_with_index.loc['Australia', 'Capital Longitude'],
                 capital_with_index.loc['Australia', 'Capital Latitude'],
                 capital_with_index.loc['Australia', 'Capital Longitude'])})
d = DataFrame({'Guam': guam, 'New Zealand': new_zealand, 'Australia': australia})
d

In [ ]:
def finder6_distances2df(list_of_countries):
    # list of lists of series; a list that stores lists of series
    list_of_series1 = [] 
    for country1 in list_of_countries:
        # list of series
        list_of_series2 = []
        for country2 in list_of_countries:
            if country1 == country2:
                cs = Series({country2: 'NaN'})
            else:
                cs = Series({country2: finder5_distance(capital_with_index.loc[country2, 'Capital Latitude'],
                             capital_with_index.loc[country2, 'Capital Longitude'],
                             capital_with_index.loc[country1, 'Capital Latitude'],
                             capital_with_index.loc[country1, 'Capital Longitude'])})
            list_of_series2.append(cs.astype(float))
        
        list_of_series1.append(list_of_series2) # uses append here because we want a matrix
                                                # so we must have a list of lists
    
    # concatenate list of series(s) in list_of_series1
    # so we have a "list of combined series" instead of "list of lists of separated series"
    series = []
    for s in list_of_series1: # each s is a list of Series
#         print(s)
        series.append(pd.concat(s)) # concat each s
#     for s in series:
#         print(s)
    
    df = DataFrame(series, index = list_of_countries)
    return df

In [ ]:
series = [Series({"ANDY":"andy", "ANSON":"anson", "AMBER":"amber"}),
          Series({"SSS":"sss", "SSSS":"ssss", "HAHA":"haha"}),
          Series({"HEY":"hey", "HOO":"hoo", "FOO":"foo"})]
df_test = DataFrame(series)
df_test

In [ ]:
#Q15: What are the distances between Guam, New Zealand, and Australia?
finder6_distances2df(['Guam', 'New Zealand', 'Australia'])

In [ ]:
#Q16: What is the distance between every pair of countries in the Australian continent?

# list of country names of Australian continent
list_australian = []
countries_with_index = countries.set_index('continent')
for i in range(len(countries)):
    if countries.loc[i, 'continent'] == 'Australia':
        list_australian.append(countries.loc[i, 'country'])

finder6_distances2df(list_australian)

In [ ]:
# the function finds the max values in a dictionary
def find_max(dict1):
    max_value = 0.0
    max_name = None
    for item in dict1:
        if dict1[item] > max_value:
            max_value = dict1[item]
            max_name = item
    return max_name

# the function finds the min values in a dictionary
def find_min(dict1):
    min_value = dict1[list(dict1.keys())[0]]
    min_name = None
    for item in dict1:
        if dict1[item] < min_value:
            min_value = dict1[item]
            min_name = item
    return min_name

# the function converts the distances among countries to avg distances to all countries listed in the DataFrame
def finder7_mean(df, find_greatest = False):
    dict_mean = dict(df.astype(float).mean())
    if find_greatest == True:
        return find_max(dict(dict_mean))
    else:
        return find_min(dict(dict_mean))

In [ ]:
#Q17: What is the most central country in the Australian continent?
au = finder6_distances2df(list_australian)
finder7_mean(au)

In [ ]:
#Q18: What is the least central country in Australia?
finder7_mean(au, True)

In [ ]:
#Q19: How close is each country in Australia to it's nearest neighbor?
vals = au.astype(float).min()
inxes = au.astype(float).idxmin()
df = pd.DataFrame({"nearest":inxes, "distance":vals})
df

In [ ]:
#Q20: How far is each country in Australia to it's furthest neighbor?
vals = au.astype(float).max()
inxes = au.astype(float).idxmax()
df = pd.DataFrame({"furthest":inxes, "distance":vals})
df

In [ ]:
path = "countries.db"
# assert os.path.exists(path)
conn = sqlite3.connect(path)
countries.to_sql("countries", conn, if_exists="replace", index=False)
capitals.to_sql("capitals", conn, if_exists="replace", index=False)

# remember to do conn.close() at the end of your notebook

In [ ]:
df = pd.read_sql("SELECT * FROM countries", conn)
df.head()

In [ ]:
def sql(string):
    return pd.read_sql(string, conn)

In [ ]:
#Q21: In our dataset, how many countries are in each continent?
string = """
SELECT continent, COUNT(country) as 'number of countries'
FROM countries
GROUP BY continent
ORDER BY "number of countries" ASC
"""

df = sql(string)
df

In [ ]:
%matplotlib inline

In [ ]:
matplotlib.rcParams["font.size"] = 15

In [ ]:
#Q22: How many countries are in each continent? (answer with a plot)
index_df = df.set_index("continent")
series = index_df["number of countries"]
ax = series.plot.bar(color='k')
ax.set_ylabel("number of countries")

In [ ]:
#Q23: What is the total population of each continent?
string = """
SELECT continent, SUM(population) as "total population (million)"
FROM countries
GROUP BY continent
ORDER BY "total population (million)" DESC
"""

df = sql(string)
df["total population (million)"] /= 1e6
df

In [ ]:
#Q24: What is the total population of each continent? (answer with a plot)
df_index = df.set_index("continent")
series = df_index["total population (million)"]
ax = series.plot.bar(color = 'k')
ax.set_xlabel("continent")
ax.set_ylabel("total population (million)")
series

In [ ]:
#Q25: What is the population of each country in South America?
string = """
SELECT country, population
FROM countries
WHERE continent = "South America"
ORDER BY population DESC
"""

df = sql(string)
df

In [ ]:
#Q26: What are the top 10 countries that have the largest real GDP?
# real GDP = population * gdp-per-capita
string = """
SELECT country, "gdp-per-capita" * population / 1e9 as "real GDP (billion)"
FROM countries
ORDER BY "real GDP (billion)" DESC
"""

df_top10 = sql(string).head(10)
df_top10

In [ ]:
#Q27: What are the top 10 countries that have the largest real GDP? (answer with a plot)

# calculate others' real GDP
df = sql(string)
df_rest = df[10:]
df_rest_gdp = df_rest["real GDP (billion)"].sum()

# set index of the df_top10 
df_top10_index = df_top10.set_index("country")

# add "other" to df_top10 (1)
series = df_top10_index["real GDP (billion)"]
series["other"] = df_rest_gdp

# add "other" to df_top10 (2)
# df_top10_index.loc["other"] = df_rest_gdp
# df_top10_index

# plot
ax = series.plot.bar(color = 'k')
ax.set_xlabel("country")
ax.set_ylabel("GDP (billion)")

In [ ]:
#Q28: What are the top 15 countries that have the largest gap between birth rate and death rate?
string = """
SELECT country, "birth-rate", "death-rate"
FROM countries
ORDER BY "birth-rate" - "death-rate" DESC
LIMIT 15
"""

df = sql(string)
df

In [ ]:
#Q29: What are the top 15 countries that have the largest gap between birth rate and death rate?
# (answer with a plot)
df_index = df.set_index("country")
ax = df_index.plot.barh(figsize = (8.0, 5.0))
ax.set_xlabel("rate")

In [ ]:
#Q30: What is the relationship between death rates and birth rates? (answer with a plot)
all_df = sql("""
SELECT "birth-rate", "death-rate"
FROM countries
""")
ax = all_df.plot.scatter(x = "death-rate", y = "birth-rate", c = 'k')

In [ ]:
#Q31: Did you notice the six outliers? Which countries are they?
string = """
SELECT country, "birth-rate", "death-rate"
FROM countries
WHERE "death-rate" > 16 and "birth-rate" < 30
ORDER BY "death-rate" ASC
"""

df = sql(string)
df

In [ ]:
#Q32: What is the correlation between death rates and birth rates?
Pearson_correlation = all_df.corr().loc['birth-rate']['death-rate']
Pearson_correlation

In [ ]:
#Q33: What is the relationship between GDP per capita and the number of phones per capita?
df = sql("""
SELECT "gdp-per-capita", phones
FROM countries
""")
ax = df.plot.scatter(x = "gdp-per-capita", y = "phones", c = 'k')

In [ ]:
#Q34: What is the correlation between GDP per capita and number of phones per capita?
Pearson_correlation = df.corr().loc["gdp-per-capita"]["phones"]
Pearson_correlation

In [ ]:
#Q35: What is the relationship between literacy and GDP per capita?
df = sql("""
SELECT literacy, "gdp-per-capita"
FROM countries
""")
ax = df.plot.scatter(x = "literacy", y = "gdp-per-capita", c = 'k')

In [ ]:
#Q36: What is the relationship between GDP per capita and death rates?:
df = sql("""
SELECT "gdp-per-capita", "death-rate"
FROM countries
""")
ax = df.plot.scatter(x = "gdp-per-capita", y = "death-rate", c = 'k')

In [ ]:
#Q37: What is the relationship between GDP per capita and birth rates?
df = sql("""
SELECT "gdp-per-capita", "birth-rate"
FROM countries
""")
ax = df.plot.scatter(x = "gdp-per-capita", y = "birth-rate", c = 'k')

In [ ]:
#Q38: What is the relationship between GDP per capita and the inverse of birth rates?
df_inverse = sql("""
SELECT "gdp-per-capita", (1 / "birth-rate") as inverse
FROM countries
""")
ax = df_inverse.plot.scatter(x = "gdp-per-capita", y = "inverse", c = 'k')

In [ ]:
#Q39: fit a y = m * x + n line to the scatter plot in question 38 using the least-squares method;
# what are the coefficients m and n?
output = df_inverse["inverse"]
df_inverse["one"] = 1
inputs = df_inverse[["gdp-per-capita", "one"]]

result = np.linalg.lstsq(inputs, output, rcond=None)
slope = result[0][0] # m
intercept = result[0][1] # n
slope, intercept # (m, n)

In [ ]:
#Q40: plot the regression line to the scatter plot
df_inverse["fit"] = df_inverse["gdp-per-capita"] * slope + intercept
ax_inverse = df_inverse.plot.scatter(x = "gdp-per-capita", y = "inverse", c = "0.5")
df_inverse.plot.line(ax = ax_inverse, x = "gdp-per-capita", y = "fit", color = "red")

In [ ]:
conn.close()