In [1]:
import pandas
from pandas import Series, DataFrame

In [2]:
x = Series({"A":1, "B":2})

In [3]:
x

A    1
B    2
dtype: int64

In [8]:
col1 = Series([4,5,6], index=[-1,0,1])

col2 = Series([1,2,3], index=[-1,0,1])

dt = DataFrame({"name":col1, "score":col2})
dt

    name  score
-1     4      1
 0     5      2
 1     6      3

In [9]:
dt.loc[0]

name     5
score    2
Name: 0, dtype: int64

In [ ]:
# dt.iloc[2]

In [ ]:
col1[0]

In [ ]:
w = ""
for char in col1[0]:
    if char == ',':
        break
    else:
        w+=char

In [ ]:
w

In [ ]:
a = "1,2"

print(a.replace(',','.'))