In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { with:100% !important;}</style>"))

In [7]:
import sqlite3
import pandas as pd
import os

In [8]:
conn = sqlite3.connect("bus.db")
path = "bus.db"
assert os.path.exists(path)
conn

In [11]:
df = pd.read_sql("SELECT * FROM sqlite_master", conn)
df

,type,name,tbl_name,rootpage,sql
0,table,boarding,boarding,2,"CREATE TABLE ""boarding"" (\n""index"" INTEGER,\n ..."
1,index,ix_boarding_index,boarding,3,"CREATE INDEX ""ix_boarding_index""ON ""boarding"" ..."
2,table,routes,routes,55,"CREATE TABLE ""routes"" (\n""index"" INTEGER,\n ""..."
3,index,ix_routes_index,routes,57,"CREATE INDEX ""ix_routes_index""ON ""routes"" (""in..."

In [16]:
print(df["rootpage"])

0     2
1     3
2    55
3    57
Name: rootpage, dtype: int64

In [19]:
df["sql"][0]

'CREATE TABLE "boarding" (\n"index" INTEGER,\n  "StopID" INTEGER,\n  "Route" INTEGER,\n  "Lat" REAL,\n  "Lon" REAL,\n  "DailyBoardings" REAL\n)'

In [17]:
for code in df["sql"]:
    print(code + "\n")

CREATE TABLE "boarding" (
"index" INTEGER,
  "StopID" INTEGER,
  "Route" INTEGER,
  "Lat" REAL,
  "Lon" REAL,
  "DailyBoardings" REAL
)

CREATE INDEX "ix_boarding_index"ON "boarding" ("index")

CREATE TABLE "routes" (
"index" INTEGER,
  "OBJECTID" INTEGER,
  "trips_routes_route_id" INTEGER,
  "route_short_name" INTEGER,
  "route_url" TEXT,
  "ShapeSTLength" REAL
)

CREATE INDEX "ix_routes_index"ON "routes" ("index")